{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/section/group.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/form/group/GroupForm.js') }}"></script>
    <script src="{{ asset('js/jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ asset('js/section/home.js') }}"></script>
{% endblock %}

{% block title %}Kanban{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Kanban</h1>
            <hr class="sidebar-divider">
        </div>
        <div class="col-md-12 row queue-list">
            {% for queue in queues %}
                <div class="col-sm row">
                    <div class="col-md-12 queue-name">{{ queue.name }}</div>
                    <div id="sortable-{{ queue.id }}" class="col-md-12 row droptrue task-list">
                            {% for task in queue.tasks %}
                                    <div id="task-{{ task.id }}" class="card border-left-primary shadow h-100 py-2 ui-state-default list-true col-md-12 card-main">
                                        <div class="card-body" data-toggle="modal" data-target="#TaskModal" data-id="{{ task.id }}">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="h7 font-weight-bold text-primary text-uppercase mb-1">{{ task.tittle }}</div>
                                                    <div class="text-xs mb-0 font-weight-bold text-gray-800 text-truncate">{{ task.comment }}</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            {% else %}
                                <div class="col-md-12">Pusta kolejka!</div>
                            {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="col-sm">Brak kolejek!</div>
            {% endfor %}
        </div>
        <div>
            {% block TaskCardModal %}
                <div class="modal fade allmodal" id="TaskModal" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-notify modal-info" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <p class="heading lead taskName"></p>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">×</span>
                                </button>
                            </div>
                                <div class="modal-body">
                                    <div class="text-center">
                                        <i class="fas text-gray-300 fa-4x mb-3 animated rotateIn"></i>
                                        <p class="h4 mb-4 taskName"></p>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12 row taskValue">
                                                <div class="col-md-4 text-left"><i class="fas fa-comment-alt"></i><span>Opis</span></div>
                                                <div class="col-md-8 card-header rounded bg-light taskComment"></div>
                                            </div>
                                            <div class="col-md-12 row taskValue">
                                                <div class="col-md-4 text-left"><i class="fas fa-layer-group"></i>Grupa</div>
                                                <div class="col-md-8 card-header rounded taskGroup"></div>
                                            </div>
                                            <div class="col-md-12 row taskValue">
                                                <div class="col-md-4 text-left"><i class="fas fa-calendar-check"></i>Data rozpoczęcia</div>
                                                <div class="col-md-8 card-header rounded taskDate"></div>
                                            </div>
                                            <div class="col-md-12 row taskValue">
                                                <div class="col-md-4 text-left"><i class="fas fa-user-cog"></i>Weryfikator</div>
                                                <div class="col-md-8 card-header rounded weryfikator"></div>
                                            </div>
                                            <div class="col-md-12 row taskValue">
                                                <div class="col-md-4 text-left"><i class="fas fa-user-edit"></i>Zgłaszający</div>
                                                <div class="col-md-8 card-header rounded zglaszajacy"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">&times;</span>
                                </button>
                            </div>

                        </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}