{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/section/group.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/form/group/GroupForm.js') }}"></script>
    <script src="{{ asset('js/jquery.ui.touch-punch.min.js') }}"></script>
{% endblock %}

{% block title %}Kanban{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Kanban</h1>
            <hr class="sidebar-divider">
        </div>
        <div class="col-md-12 row queue-list">
            {% for queue in queues %}
                <div class="col-sm row">
                    <div class="col-md-12 queue-name">{{ queue.name }}</div>
                    <div id="sortable-{{ queue.id }}" class="col-md-12 row droptrue task-list">
                            {% for task in queue.tasks %}
                                    <div id="task-{{ task.id }}" class="card border-left-primary shadow h-100 py-2 ui-state-default list-true col-md-12 card-main">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ task.tittle }}</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ task.comment }}</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            {% else %}
                                <div class="col-md-12">Pusta kolejka!</div>
                            {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="col-sm">Brak kolejek!</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}