{{ form_start(form) }}
<div class="col-md-12 form-group has-feedback row">
    <label class="control-label col-sm-3"><i class="fa fa-play"></i> Email </label>
    <div class="col-sm-9">
        {{ form_widget(form.email, {'attr' : {'class': 'form-control'}}) }}
        <small>{{ form_help(form.email) }}</small>

        <div class="form-error">
            {{ form_errors(form.email) }}
        </div>
    </div>
</div>
<div class="col-md-12 form-group has-feedback row">
    <label class="control-label col-sm-3"><i class="fa fa-play"></i> Nazwa </label>
    <div class="col-sm-9">
        {{ form_widget(form.name, {'attr' : {'class': 'form-control'}}) }}
        <small>{{ form_help(form.name) }}</small>

        <div class="form-error">
            {{ form_errors(form.name) }}
        </div>
    </div>
</div>
<div class="col-md-12 form-group has-feedback row">
    <label class="control-label col-sm-3"><i class="fa fa-play"></i> Zweryfikowany </label>
    <div class="col-sm-9">
        {{ form_widget(form.isVerified, {'attr' : {'class': 'form-control'}}) }}
        <small>{{ form_help(form.isVerified) }}</small>

        <div class="form-error">
            {{ form_errors(form.isVerified) }}
        </div>
    </div>
</div>
<div class="col-md-12 form-group has-feedback row">
    <label class="control-label col-sm-3"><i class="fa fa-play"></i> Role </label>
    <div class="col-sm-9">
        {{ form_widget(form.roles, {'attr' : {'class': 'form-control'}}) }}
        <small>{{ form_help(form.roles) }}</small>

        <div class="form-error">
            {{ form_errors(form.roles) }}
        </div>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10 sumb text-center">
        <button class="btn btn-primary">{{ button_label|default('Aktualizuj') }}</button>
    </div>
</div>
<div>
    {{ form_row(form._token) }}
</div>
{{ form_end(form) }}
